page-chat { 

    .chat {
           display: flex; 
        align-content: center;
    }

$border: 2px;
 
  .chat-card {
    max-width: 768px; 
    border: $border solid red;
    position: relative;
    overflow: visible;
    min-height: 50px;
    display: flex; 
    flex-direction: column;
    margin:25px auto auto auto; 
  }

  p {
      display: block;
   padding:2px;   
   width:100%; 
  }

  .chat-badge {
    position: absolute;
    border-radius: 0;
    right: -$border;
    top: -18px;    
    font-family: $roboto;
    font-weight: light;
  }

  .chat-name {   
      height: 20px;
      display: block;
      margin-top: auto;
      align-self: flex-end; 
  }

  ion-input {
    width: 100%;
    border: 2px solid color($colors, reddy);
  }
}
